body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url('../images/fon.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

header div{
    padding: 1px;
    background-color: rgba(214, 214, 214, 0.62);
}

header div a{
    display: block;
    width: 100px;
    margin: 50px auto;
}

header div a img{
    width: 100%;
}

main > div{
    height: 160px;
    width: 460px;
    margin: 50px auto;
    background-color: #282a36;
    padding: 3px 10px;
    border-radius: 6px;
    box-shadow: 0 10px 18px rgba(0,0,0, .75);
}

main > div > div:first-child span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

main > div > div:first-child span:nth-child(1){
    background-color: #ff5f56;
}

main > div > div:first-child span:nth-child(2){
    background-color: #ffbd2e;
}

main > div > div:first-child span:nth-child(3){
    background-color: #27c93f;
}

main > div > div:last-child{
    padding: 10px;
}

main > div > div:last-child p{
    margin-top: 2px;
    margin-bottom: 2px;
}

main > div > div:last-child p i{
    font-style: normal;
    color: #607979;
    display: inline-block;
    margin-right: 10px;
}

main > div > div:last-child p em{
    font-style: normal;
    color: #55628e;
    display: inline-block;
}

main > div > div:last-child p b{
    font-style: normal;
    color: #f173bd;
    display: inline-block;
    margin-right: 5px;
    font-weight: 300;
}

main > div > div:last-child p strong{
    font-style: normal;
    color: #ffffff;
    display: inline-block;
    font-weight: 300;
}

main > div > div:last-child p u{
    font-style: normal;
    text-decoration: unset;
    color: #61ccce;
    display: inline-block;
    font-weight: 300;
    margin-left: 25px;
}

main > div > div:last-child p span{
    font-style: normal;
    color: #ffb100;
    display: inline-block;
    font-weight: 300;
    margin-left: 5px;
}